.font-manrope{
    font-family: "Manrope", sans-serif;
}
.background-main{
    background-image: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.background-connect{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}